# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
# /ios  -> Dưới đây là các đường dẫn cache không cần cho /ios
ios/Pods/
ios/build/
ios/Index/
ios/*.xcworkspace/xcuserdata
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata

# /android -> Dưới đây là các cache không cần thiết cho /android
android/.gradle/
android/app/build/
android/build/
android/.idea/
